In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_excel("Administrative.xlsx")

In [4]:
data.head()

      date  total_attacks
0  2004-10             43
1   2007-1             24
2   2007-8             15
3   2008-1             39
4   2009-2             41

In [5]:
data.tail()

      date  total_attacks
77  2022-2             14
78  2022-3             38
79  2022-8              2
80  2023-3              2
81  2023-5              4

In [6]:
data.describe()

       total_attacks
count      82.000000
mean       23.829268
std        21.573764
min         0.000000
25%         6.250000
50%        15.000000
75%        39.750000
max       110.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           82 non-null     object
 1   total_attacks  82 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB

In [8]:
data['date']=data['date'].apply(pd.to_datetime)

In [9]:
data.head()

        date  total_attacks
0 2004-10-01             43
1 2007-01-01             24
2 2007-08-01             15
3 2008-01-01             39
4 2009-02-01             41

In [10]:
data.sort_values(by='date',inplace=True)

In [11]:
data=data.reset_index(drop=True)

In [12]:
data.tail(10)

         date  total_attacks
72 2021-03-01              2
73 2021-04-01              6
74 2021-06-01             14
75 2022-01-01              4
76 2022-02-01             14
77 2022-03-01             38
78 2022-08-01              2
79 2022-12-01              1
80 2023-03-01              2
81 2023-05-01              4

In [13]:
def map_count_to_state(count):
    if count == 0:
        return 0
    elif 1 <= count <= 5:
        return 1
    elif 6 <= count <= 10:
        return 2
    else:
        return 3

# Apply the mapping function to your attack counts
data['state'] = data['total_attacks'].apply(map_count_to_state)

# Create an empty transition matrix based on the number of states
num_states = data['state'].max() + 1
transition_matrix = np.zeros((num_states, num_states))

# Count the transitions
for i in range(len(data) - 1):
    current_state = data['state'].iloc[i]
    next_state = data['state'].iloc[i + 1]
    transition_matrix[current_state][next_state] += 1

# Normalize the counts to probabilities
for i in range(num_states):
    total = np.sum(transition_matrix[i])
    if total > 0:
        transition_matrix[i] /= total

# Output the transition matrix
transition_matrix_df = pd.DataFrame(transition_matrix)
print(transition_matrix_df)

          0         1         2         3
0  0.000000  0.000000  0.000000  1.000000
1  0.000000  0.388889  0.055556  0.555556
2  0.000000  0.200000  0.000000  0.800000
3  0.017544  0.192982  0.070175  0.719298