In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel("Educational.xlsx")

In [3]:
data.head()

     date  total_attacks
0  2007-1             12
1  2008-3             15
2  2008-4              1
3  2009-4              4
4  2009-6             73

In [4]:
data.tail()

        date  total_attacks
120   2021-9              4
121  2022-12              4
122   2022-7              6
123   2022-8              3
124   2023-6          26319

In [5]:
data.describe()

       total_attacks
count     125.000000
mean      238.696000
std      2351.724378
min         1.000000
25%         5.000000
50%        15.000000
75%        37.000000
max     26319.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           125 non-null    object
 1   total_attacks  125 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.1+ KB

In [7]:
data['date']=data['date'].apply(pd.to_datetime)

In [8]:
data.head()

        date  total_attacks
0 2007-01-01             12
1 2008-03-01             15
2 2008-04-01              1
3 2009-04-01              4
4 2009-06-01             73

In [9]:
data.sort_values(by='date',inplace=True)

In [10]:
data=data.reset_index(drop=True)

In [11]:
data.tail(10)

          date  total_attacks
115 2021-03-01             17
116 2021-04-01              7
117 2021-05-01              5
118 2021-06-01              4
119 2021-09-01              4
120 2021-12-01              3
121 2022-07-01              6
122 2022-08-01              3
123 2022-12-01              4
124 2023-06-01          26319

In [12]:
def map_count_to_state(count):
    if count == 0:
        return 0
    elif 1 <= count <= 5:
        return 1
    elif 6 <= count <= 10:
        return 2
    else:
        return 3

# Apply the mapping function to your attack counts
data['state'] = data['total_attacks'].apply(map_count_to_state)

# Create an empty transition matrix based on the number of states
num_states = data['state'].max() + 1
transition_matrix = np.zeros((num_states, num_states))

# Count the transitions
for i in range(len(data) - 1):
    current_state = data['state'].iloc[i]
    next_state = data['state'].iloc[i + 1]
    transition_matrix[current_state][next_state] += 1

# Normalize the counts to probabilities
for i in range(num_states):
    total = np.sum(transition_matrix[i])
    if total > 0:
        transition_matrix[i] /= total

# Output the transition matrix
transition_matrix_df = pd.DataFrame(transition_matrix)
print(transition_matrix_df)

     0         1         2         3
0  0.0  0.000000  0.000000  0.000000
1  0.0  0.312500  0.062500  0.625000
2  0.0  0.272727  0.181818  0.545455
3  0.0  0.234568  0.086420  0.679012