In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel("Information.xlsx")

In [3]:
data.head()

      date  total_attacks
0   2003-4             58
1   2006-5             39
2   2006-7             30
3   2006-8              9
4  2008-10              0

In [4]:
data.tail()

       date  total_attacks
141  2023-1             47
142  2023-2             43
143  2023-3              5
144  2023-6            185
145  2023-7             13

In [5]:
data.describe()

       total_attacks
count     146.000000
mean       50.308219
std        55.105362
min         0.000000
25%        13.000000
50%        38.500000
75%        68.750000
max       363.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           146 non-null    object
 1   total_attacks  146 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

In [7]:
data['date']=data['date'].apply(pd.to_datetime)

In [8]:
data.head()

        date  total_attacks
0 2003-04-01             58
1 2006-05-01             39
2 2006-07-01             30
3 2006-08-01              9
4 2008-10-01              0

In [9]:
data.sort_values(by='date',inplace=True)

In [10]:
data=data.reset_index(drop=True)

In [11]:
data.tail(10)

          date  total_attacks
136 2022-07-01             12
137 2022-08-01             21
138 2022-09-01             15
139 2022-10-01             42
140 2022-12-01             43
141 2023-01-01             47
142 2023-02-01             43
143 2023-03-01              5
144 2023-06-01            185
145 2023-07-01             13

In [12]:
def map_count_to_state(count):
    if count == 0:
        return 0
    elif 1 <= count <= 5:
        return 1
    elif 6 <= count <= 10:
        return 2
    else:
        return 3

# Apply the mapping function to your attack counts
data['state'] = data['total_attacks'].apply(map_count_to_state)

# Create an empty transition matrix based on the number of states
num_states = data['state'].max() + 1
transition_matrix = np.zeros((num_states, num_states))

# Count the transitions
for i in range(len(data) - 1):
    current_state = data['state'].iloc[i]
    next_state = data['state'].iloc[i + 1]
    transition_matrix[current_state][next_state] += 1

# Normalize the counts to probabilities
for i in range(num_states):
    total = np.sum(transition_matrix[i])
    if total > 0:
        transition_matrix[i] /= total

# Output the transition matrix
transition_matrix_df = pd.DataFrame(transition_matrix)
print(transition_matrix_df)

          0         1         2         3
0  0.000000  0.250000  0.000000  0.750000
1  0.000000  0.000000  0.125000  0.875000
2  0.083333  0.083333  0.083333  0.750000
3  0.024793  0.049587  0.082645  0.842975