In [13]:
import pandas as pd
import numpy as np

In [14]:
data=pd.read_excel("Manufacturing.xlsx")

In [15]:
data.head()

      date  total_attacks
0   2003-5              0
1   2005-1             43
2   2007-2             43
3   2007-5             12
4  2008-10             43

In [16]:
data.tail()

      date  total_attacks
84  2023-2              1
85  2023-3            100
86  2023-5             15
87  2023-6            215
88  2023-8              1

In [17]:
data.describe()

       total_attacks
count      89.000000
mean       28.921348
std        36.521546
min         0.000000
25%         4.000000
50%        15.000000
75%        43.000000
max       215.000000

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           89 non-null     object
 1   total_attacks  89 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [19]:
data['date']=data['date'].apply(pd.to_datetime)

In [20]:
data.head()

        date  total_attacks
0 2003-05-01              0
1 2005-01-01             43
2 2007-02-01             43
3 2007-05-01             12
4 2008-10-01             43

In [21]:
data.sort_values(by='date',inplace=True)

In [22]:
data=data.reset_index(drop=True)

In [23]:
data.tail(10)

         date  total_attacks
79 2021-12-01             43
80 2022-06-01             15
81 2022-10-01              5
82 2022-12-01             43
83 2023-01-01              2
84 2023-02-01              1
85 2023-03-01            100
86 2023-05-01             15
87 2023-06-01            215
88 2023-08-01              1

In [24]:
def map_count_to_state(count):
    if count == 0:
        return 0
    elif 1 <= count <= 5:
        return 1
    elif 6 <= count <= 10:
        return 2
    else:
        return 3

# Apply the mapping function to your attack counts
data['state'] = data['total_attacks'].apply(map_count_to_state)

# Create an empty transition matrix based on the number of states
num_states = data['state'].max() + 1
transition_matrix = np.zeros((num_states, num_states))

# Count the transitions
for i in range(len(data) - 1):
    current_state = data['state'].iloc[i]
    next_state = data['state'].iloc[i + 1]
    transition_matrix[current_state][next_state] += 1

# Normalize the counts to probabilities
for i in range(num_states):
    total = np.sum(transition_matrix[i])
    if total > 0:
        transition_matrix[i] /= total

# Output the transition matrix
transition_matrix_df = pd.DataFrame(transition_matrix)
print(transition_matrix_df)

          0         1         2      3
0  0.000000  0.000000  0.000000  1.000
1  0.000000  0.200000  0.080000  0.720
2  0.000000  0.600000  0.200000  0.200
3  0.017857  0.321429  0.035714  0.625