In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel("Retail.xlsx")

In [3]:
data.head()

      date  total_attacks
0  2004-11              1
1   2005-5             30
2  2007-12              3
3   2008-2             13
4   2008-5             43

In [4]:
data.tail()

       date  total_attacks
123  2022-4              3
124  2022-5              4
125  2022-7              3
126  2023-4              4
127  2023-6            129

In [5]:
data.describe()

       total_attacks
count     128.000000
mean       27.656250
std        26.488577
min         0.000000
25%         8.000000
50%        16.000000
75%        43.000000
max       129.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           128 non-null    object
 1   total_attacks  128 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.1+ KB

In [7]:
data['date']=data['date'].apply(pd.to_datetime)

In [8]:
data.head()

        date  total_attacks
0 2004-11-01              1
1 2005-05-01             30
2 2007-12-01              3
3 2008-02-01             13
4 2008-05-01             43

In [9]:
data.sort_values(by='date',inplace=True)

In [10]:
data=data.reset_index(drop=True)

In [11]:
data.tail(10)

          date  total_attacks
118 2021-09-01             15
119 2021-11-01              3
120 2022-01-01             13
121 2022-04-01              3
122 2022-05-01              4
123 2022-07-01              3
124 2022-10-01             24
125 2022-12-01             45
126 2023-04-01              4
127 2023-06-01            129

In [12]:
def map_count_to_state(count):
    if count == 0:
        return 0
    elif 1 <= count <= 5:
        return 1
    elif 6 <= count <= 10:
        return 2
    else:
        return 3

# Apply the mapping function to your attack counts
data['state'] = data['total_attacks'].apply(map_count_to_state)

# Create an empty transition matrix based on the number of states
num_states = data['state'].max() + 1
transition_matrix = np.zeros((num_states, num_states))

# Count the transitions
for i in range(len(data) - 1):
    current_state = data['state'].iloc[i]
    next_state = data['state'].iloc[i + 1]
    transition_matrix[current_state][next_state] += 1

# Normalize the counts to probabilities
for i in range(num_states):
    total = np.sum(transition_matrix[i])
    if total > 0:
        transition_matrix[i] /= total

# Output the transition matrix
transition_matrix_df = pd.DataFrame(transition_matrix)
print(transition_matrix_df)

          0         1         2         3
0  0.000000  0.333333  0.166667  0.500000
1  0.000000  0.318182  0.045455  0.636364
2  0.000000  0.111111  0.222222  0.666667
3  0.066667  0.122222  0.055556  0.755556