In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel("Transportation.xlsx")

In [3]:
data.head()

      date  total_attacks
0  2009-11              0
1  2010-12             15
2  2011-10              0
3   2011-6             20
4  2012-11              4

In [4]:
data.tail()

      date  total_attacks
57  2021-5             24
58  2021-7              2
59  2022-1             16
60  2023-2              4
61  2023-6             86

In [5]:
data.describe()

       total_attacks
count      62.000000
mean       19.838710
std        22.134606
min         0.000000
25%         4.000000
50%        13.000000
75%        25.750000
max        86.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           62 non-null     object
 1   total_attacks  62 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

In [7]:
data['date']=data['date'].apply(pd.to_datetime)

In [8]:
data.head()

        date  total_attacks
0 2009-11-01              0
1 2010-12-01             15
2 2011-10-01              0
3 2011-06-01             20
4 2012-11-01              4

In [9]:
data.sort_values(by='date',inplace=True)

In [10]:
data=data.reset_index(drop=True)

In [11]:
data.tail(10)

         date  total_attacks
52 2020-08-01              1
53 2020-10-01              2
54 2020-11-01              2
55 2020-12-01              9
56 2021-04-01             26
57 2021-05-01             24
58 2021-07-01              2
59 2022-01-01             16
60 2023-02-01              4
61 2023-06-01             86

In [12]:
def map_count_to_state(count):
    if count == 0:
        return 0
    elif 1 <= count <= 5:
        return 1
    elif 6 <= count <= 10:
        return 2
    else:
        return 3

# Apply the mapping function to your attack counts
data['state'] = data['total_attacks'].apply(map_count_to_state)

# Create an empty transition matrix based on the number of states
num_states = data['state'].max() + 1
transition_matrix = np.zeros((num_states, num_states))

# Count the transitions
for i in range(len(data) - 1):
    current_state = data['state'].iloc[i]
    next_state = data['state'].iloc[i + 1]
    transition_matrix[current_state][next_state] += 1

# Normalize the counts to probabilities
for i in range(num_states):
    total = np.sum(transition_matrix[i])
    if total > 0:
        transition_matrix[i] /= total

# Output the transition matrix
transition_matrix_df = pd.DataFrame(transition_matrix)
print(transition_matrix_df)

          0         1         2         3
0  0.000000  0.000000  0.000000  1.000000
1  0.000000  0.250000  0.187500  0.562500
2  0.000000  0.416667  0.166667  0.416667
3  0.032258  0.225806  0.225806  0.516129